body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

caption {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 60px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f4f4f4;
    padding: 3px 6px;
    border-radius: 4px;
}