body {
    font-family: Arial;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid black;
    padding: 15px;
    width: 50px;
}

th {
    background-color: #ddd;
}