1. Créer une page connexion -> Afficher liste des demandes (admin) si les identifiants sont bons.
2. Logger l'essai de connexion dans la liste des demandes.
3. Créer une page d'identification pour créer un compte.